<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template1">
<head>
  <meta charset="UTF-8">
  <title>labelvie</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
  <div class="container mt-5">
    <h2>Users list</h2>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Email</th>
        <th>Date birth</th>
        <th>Roles</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${#dates.format(user.birthDay, 'yyyy-MM-dd')}"></td>
        <td>
          <ul>
            <li th:each="role : ${user.roles}" th:text="${role.roleName}"></li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
