<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>labelvie</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container">
        <h2>Password Change Form</h2>
        <form th:action="@{/changePassword}" method="post">
            <div class="mb-3">
                <label for="oldPassword" class="form-label">Old Password:</label>
                <input type="password" id="oldPassword" name="oldPassword" th:required="true" class="form-control">
            </div>

            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" th:required="true" class="form-control">
            </div>

            <div class="mb-3">
                <label for="confirmNewPassword" class="form-label">Confirm New Password:</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" th:required="true" class="form-control">
            </div>

            <div th:if="${session.errorMessage}" class="alert alert-danger" role="alert">
                <p th:text="${session.errorMessage}" class="mb-0"></p>
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>
</body>
</html>