<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>labelvie</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <h3 class="display-8">Page Not Found</h3>
            <p class="fs-7">The requested page could not be found.</p>
        </div>
    </div>
</div>
</body>
</html>